# manim.cfg
[CLI]
media_dir = ./build/media
video_dir = ./build/media/videos
images_dir = ./build/media/images
tex_dir = ./build/media/Tex
text_dir = ./build/media/texts
log_dir = ./build/logs
files_dir = ./build/files
partial_movie_dir = ./build/media/partial_movies

pixel_height = 2160
pixel_width = 3840
frame_rate = 30
